html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

header, main{
    flex: 1 0 auto;
}

footer{
    flex: 0 0 auto;
}

header, main, footer{
    opacity: 0.9;
}

.copyright{
	color: white;
	text-align: center;
}

.btn{
    font-size: inherit;
    background: #A2A2A2;
    color: white;
    border: white solid 2px ;
    border-radius: 7px;
    -webkit-transition: background 0.4s linear 0.2s;
    -moz-transition: background 0.4s linear 0.2s;
    -o-transition: background 0.4s linear 0.2s;
    transition: background 0.4s linear 0.2s;
}

.btn.focus, .btn:focus, .btn:hover, .btn.active, .btn:active, .btn.active.focus, .btn.active:focus, .btn:active.focus, .btn:active:focus {
	background: #B34EE9;
	color: white;
	outline: none;
}

.center{
	text-align: center;
}

@supports
(
        (-webkit-transform: rotate(90deg)) or
        (-moz-transform: rotate(90deg)) or
        (-ms-transform: rotate(90deg)) or
        (-o-transform: rotate(90deg)) or
        (transform: rotate(90deg))
    ) {
	.copyright{
		color: white;
		text-shadow: 0 0 10px darkgray;
	}
}

.info, .portfolio, .mail{
	display: none;
	background-color: white;
	border: 2px gray solid;
	border-radius: 10px;
	color: gray;
	flex: 1 1 auto;
	padding: 10px;
}

#myphoto{
	border-radius: 10px;
	border: 2px solid white;
}

a, a :hover, a :active, a :focus{
	color: lightgray;
}

div.socials a :visited{
	color: lightgray;
}

form{
	color: lightgray;
	padding: 20px;
}

a#vk :hover, a#vk :active, a#vk :focus, a#vk :visited{
	color: #4D75A3;
}

a#whatsapp :hover, a#whatsapp :active, a#whatsapp :focus{
	color: #61F151;
}

a#skype :hover, a#skype :active, a#skype :focus{
	color: #00ABEA;
}

a#facebook :hover, a#facebook :active, a#facebook :focus{
	color: #3B5998;
}

a#linkedin :hover, a#linkedin :active, a#linkedin :focus{
	color: #006699;
}

a#github :hover, a#github :active, a#github :focus{
	color: #000000;
}

#hint{
	border: 2px gray solid;
	border-radius: 10px;
	color: gray;
	margin: 10px 20px 10px 20px;
}

.info div.col-sm-1{
	display: inline-block;
	margin: 10px;
}

.invalid {
	background-color: Pink;
	opacity: 0.6;
}

.valid {
	background-color: LightGreen;
	opacity: 0.6;
}

.infoText{
	padding: 20px;
}

.photo{
	padding: 0 30px 0 15px;
	float: left;
}

#sign{
	text-align: right;
	margin-right: 20px;
	margin-top: 20px;
	color: black;
}

#img{
	border-radius: 10px;
}

.invis{
    background-color: transparent;!important;
    border: none;!important;
}