.clicked{
    position: fixed;
    top: 0;
    left: 0;
}

.bodyclicked{
    overflow: hidden;
}

.cpclicked{
    display: none;
}

.title{
    width: inherit;
    text-align: left;
    display: none;
    margin-bottom: 10px;
}

.titleshow{
    display: block;
}